@using UniversityMVC.Models;
@model IEnumerable<Teacher>

<h2>Teachers List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.Name</td>
                <td>@teacher.Surname</td>
                <td>@teacher.Email</td>
                <td>
                    <a asp-action="Update" asp-route-id="@teacher.Id" class="btn btn-primary">Edit</a>

                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@teacher.Id" />
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Add Teacher</a>
